* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 1rem;
    font-family: monospace;
    font-size: 1.2rem;
}

div {
    margin: 1rem;
    border: 1px dashed;
    padding: 1rem;
}

.one {
    width: 200px;
    height: 200px;
}

.flex {
    background-color: #aba;
    /* write declarations here */
    display: flex;
    align-items: center;
    justify-content: center;

    /*  */

}

.grid {
    background-color: #abb;
    /* enter declarations here */
    display: grid;
    place-items: center;
    /* you can also use "align-items and justify-content like illustrated bi the comment below : */
    /* align-items: center; */
    /* justify-content: center; */
}

.container2 {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    /* justify-content: center; */
    /* write declarations here */

}

/* 24th september 2026 */
.two {
    background-color: #ace;
    height: 100px;
}

.container3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* write declarations here */

}

.columns-3 {
    text-align: center;
    grid-column: 1/4;
    /* write declaration here */

}

.three {
    margin: .25rem;
    background-color: #abd;
}