

*{
    padding:0; 
    margin:0; 
    box-sizing:border-box;
}
:root{--high-end:darkblue;
      --textalign-center:center;
      /* --wildcard:padding:0; margin:0; box-sizing:border-box; */


}
nav {
    background-color:var(--high-end);
    padding:
        10px
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: var(--high-end);
}

main img {

    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
    margin:0 0 1rem 1rem;
}

p {
    padding: 0;

}

main {
    max-width:840px;
}

/*Example aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 0.2);
    /* 1️⃣ */
/*padding: 1rem;
background-color: #eee;
color: #333;

text-align: center*/
aside {
    width: 30rem;
/*  margin: 1rem; */
    /* border: 6px solid rgba(200, 70, 20, .1); */
    /* padding: 2px; */
    /* background-color: #dde0fe; */
    /* color: #ffaa99; */
    text-align: center;
    position: relative;

}

p {
    padding: 0;
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 30px;
    border-top: 3px solid var(--high-end);
    text-align: center;}

    /* Class Selectors */
.box {
    margin:1rem;
    padding:1rem;
    background-color:var(--high-end);
    border:1px solid rgba(0,0,0,.1);
    color:#59ff3e;
    }


a   {
    /* color:#000; */
    /* background-color:#fff  */
}

aside h2 {
       position:absolute;
       left: 214px;
       top: 12px;


       /* bottom: 150px; */

    }
.indent{
        padding-left: 2rem;
    }

    /*  */
